.App {
  width: 100%;
}
.search {
  background-color: #fe5a61;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px #b59393;
}

.logo {
  fill: white;
  margin: 15px 15px 10px 15px;

}

.searchForm {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.searchForm button {
  margin: 3px;
}

.searchForm input {
  margin: 3px;

}

.search  {
  color: white;
}

.leaseInfo {
  margin: 30px auto;
  max-width: 90%;
}

.leaseInfoHead {
  color: #fe5a61;
  font-size: 1rem;
  text-align: center;
}

.leaseInfoHead td {
  width: 150px;
}

.leaseInfoBody {
  font-size: .8rem;
  text-align: center;
}



.results {
  text-align: center;
}

.resultTable {
  margin: 20px auto;
  border-collapse: collapse;
  max-width: 90%;
}

.resultTable td, th {
  border: 1px solid black;
  height: 22px;
  width: 190px;
}
